@model IEnumerable<NetAssessment.Models.Claim>

@{
    ViewData["Title"] = "Claims";
}

<h1 class="text-center fw-bolder text-decoration-underline">Claims</h1>

<form asp-controller="Claims" asp-action="Index" method="get">
    <div class="row justify-content-end mt-4">
        <div class="col-md-4 flex-column">
            <input type="text" name="vin" placeholder="Vin number" class="form-text border-4"/>
            <button type="submit" class="btn btn-info">Search Claim</button>
        </div>          
    </div>
</form>

<p><a asp-action="Create" class="btn btn-primary mt-4">Create New</a></p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicle)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.Vehicle.Vin)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vehicle.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vehicle.Vin)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


